# Dependencies
node_modules

# Docker Compose Data
docker-data

# Environment
.env

# ESLint Output
.eslintcache

# Generated Code
generated

# Next.js
.next
next-env.d.ts

# OS Files
.DS_Store

# Storybook Output
storybook-static

# Test Output
coverage
test-results

# Tsup Output
dist

# Turborepo Output
.turbo
