# Dependencies
node_modules

# ESLint Output
.eslintcache

# Next.js
.next
next-env.d.ts

# OS Files
.DS_Store

# Storybook Output
storybook-static

# Test Output
coverage
test-results

# Tsup Output
dist

# Turborepo Output
.turbo
